@import "./variables.css";
@import "./globals.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar__logo {
  max-width: 10rem;
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar__link {
  text-transform: uppercase;
  font-weight: var(--fw-semibold);
  font-size: var(--fs--1);
  text-decoration: none;
  color: var(--neutral-very-dark-blue);
  outline-offset: 0.25rem;
  position: relative;
  transition: opacity 0.125s ease;
}

.navbar__link:hover {
  opacity: 0.75;
}

.navbar__link:focus {
  outline: 0.15rem dotted;
}

/* underline */
.navbar__link::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background-color: var(--neutral-very-dark-blue);
  bottom: 0;
  left: 0;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.125s ease;
}

.navbar__link:hover::after {
  scale: 1;
}

/* separator */
.separator-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--neutral-grayish-blue);
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login link */
.navbar__link-login {
  color: var(--neutral-grayish-blue);
}

.navbar__link-login::after {
  background-color: var(--neutral-grayish-blue);
}

/* grid columns */
.content-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* text content */
.content__text-content {
  padding: 5rem 7.5rem;
  padding-top: 7.5rem;
}

.content__new-text {
  letter-spacing: 0.125rem;
  color: var(--neutral-grayish-blue);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  font-family: var(--font-title);
  font-size: var(--fs--1);
  margin-block: 0.75rem;
}

.newHighlighted {
  font-weight: var(--fw-bold);
  background-color: var(--neutral-very-dark-blue);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  letter-spacing: auto;
  color: white;
}

/* heading */
.content__heading-large {
  color: var(--neutral-very-dark-blue);
  line-height: 1;
  font-size: var(--fs-5);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content__text {
  font-size: var(--fs--1);
  color: var(--neutral-dark-grayish-blue);
  margin-bottom: 3rem;
}

/* button */
.button-red {
  background-color: var(--primary-red);
  border: none;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-weight: var(--fw-semibold);
  border-radius: 0.25rem;
  color: white;
  display: block;
  cursor: pointer;
  outline-offset: 0.25rem;
  font-size: var(--fs--1);
  transition: 0.125s ease;
}

.button-red:hover {
  opacity: 0.75;
}

.button-red:active {
  scale: 0.985;
}

.button-red:focus {
  outline: 0.175rem dotted var(--neutral-dark-grayish-blue);
}

/* button and text flex */
.button-and-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preview-text {
  text-transform: uppercase;
  font-family: var(--font-title);
  letter-spacing: 0.15rem;
  font-size: var(--fs--1);
  color: var(--neutral-grayish-blue);
}

/* image position fix */
.content__image-content {
  position: relative;
  /* background-color: var(--neutral-grayish-blue); */
  min-height: 100%;
  overflow: hidden;
  /* padding: 5rem; */
}

.content__image-content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 70%;
  width: 95%;
  border-end-start-radius: 5rem;
  background-color: var(--neutral-light-grayish-blue);
  z-index: 0;
}

.content__image {
  position: absolute;
  /* inset: 0; */
  left: 5%;
  bottom: 0;
  max-width: 50rem;
  top: 25%;
}
